<div class="card">
  <div class="card-header">
    <h3><span class="badge badge-primary headerIcon">Zipari</span></h3>
  </div>
</div>
<div class="main" align="center">
  <div class="cardShow">HERE SHOW CARDS</div>
</div>
<div class="buttonBox" align="center">
  <button type="button" class="btn btn-primary singleButton">DRAW</button>
  <button type="button" class="btn btn-success singleButton">Possible card Suit</button>
  <button type="button" class="btn btn-danger singleButton"># of Cards in a hand</button>
  <button type="button" class="btn btn-warning singleButton">Max Card Value</button>
  <button type="button" class="btn btn-info singleButton">Min Card Value</button>
</div>
